<h1>Your task details to be edited</h1>
<%= form_for @task do |f| %>
  Title: <%= f.text_field :title %>
  Details : <%= f.text_field :details %>
  Status : <%= f.check_box :completed %>
  <%= f.submit %>
<% end %>
